<nav>
  <div class="nav-wrapper nav-container">
    <img src="ICON.png" class="brand-logo logo"></img>
    <p class="logo-text">Nostalgia Charts</p>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Perfil</a></li>
      <li><a href="sass.html">Grupo</a></li>
      <li><a href="badges.html">Charts</a></li>
      <li><a href="collapsible.html">Logout</a></li>
    </ul>
  </div>
</nav>