<!DOCTYPE html>
<html>
  <%- include ('./partials/head.ejs') %>
<body>
  <div class="bg">
    <div class="container error-container">
      <div class="card">
        <div class="card-content">
          <h3>Não consegui achar a página que você estava procurando! :(</h3>
        </div>
      </div>
    </div>
  </div> 
</body>
</html>