<!DOCTYPE html>
<html>
  <%- include ('./partials/head.ejs') %>
<body>
  <div class="bg">
    <div class="container login-container">
      <div class="card">
        <div class="card-content">
          <img src="ICON.png" class="icon">
          <h3>Nostalgia Charts</h3>
          <div class="section">
            <p class="lead">Crie charts com os artistas, álbuns e músicas mais ouvidos de seus amigos.</p>
          </div>
          <div class="divider"></div>
          <div class="section">
            <a href="/auth/lastfm" class="btn orange darken-3">
              <i class="fab fa-lastfm left"></i> Login com Last.Fm
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> 
</body>

<%- include('./partials/footer.ejs') %>

</html>