<div class="group-menu">
  <div class="card orange darken-3 group-popup" id="group-popup-create-button">
    <!-- Create button -->
    <div class="card-content">
      <p><i class="material-icons">group_add</i> Criar Grupo</p>
    </div>
  </div>
  <div class="card orange darken-3 group-popup" id="group-popup-edit-button">
      <div class="card-content">
        <p><i class="material-icons">edit</i> Editar Grupo</p>
      </div>
  </div>
  <div class="card orange darken-3 group-popup" id="group-popup-delete-button">
    <div class="card-content">
      <p><i class="material-icons">delete</i> Deletar Grupo</p>
    </div>
  </div>
</div>