<div class="group-popup-create" id="group-popup-remove-user">
  <div class="card popup-content">
    <div class="card-content">
      <div class="close-popup close-popup-remove-user"><span>&times;</span></div>
      <div class="row popup-title">
        <h4 class="new-orange">Remover Membro do Grupo: </h4>
      </div>
      <div class="row">
        <form class="col s12" method="POST" id="group-remove-user-form">
          <div class="row">
            <div class="input-field col s12">
              <div class="input-field col s12">
                <input id="group_members" type="text" name="users" required>
                <label for="group_members">Remover Membro</label>
              </div>
            </div>
          </div>   
          <div class="row">
            <button type="submit" class="group-remove-submit">
              <div class="btn orange darken-3">
                <span>Remover</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>