<div class="group-popup-create" id="group-popup-add-user">
  <div class="card popup-content">
    <div class="card-content">
      <div class="close-popup close-popup-add-user"><span>&times;</span></div>
      <div class="row popup-title">
        <h4 class="new-orange">Adicionar Membro(s) ao Grupo</h4>
      </div>
      <div class="row">
        <form class="col s12" method="POST" id="group-add-user-form">
          <div class="row">
            <div class="input-field col s12">
              <input id="group_members" type="text" name="users" required>
              <label for="group_members">Adicionar Membros (separados por vírgula)</label>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="group-add-submit">
              <div class="btn orange darken-3">
                <span>Adicionar</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>